.commentSection {
    margin: 0 auto;
    width: 95%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 95%;
    padding: 0;
}

.postImage{ 
    width: 100%;
    margin: 0 auto;
}

.userHeader {
    display: flex;
    align-items: center;
    padding: 10px;
}

.userHeader h2 {
    font-size: 10px;
    margin: 0 10px;
}

.userHeader img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

input {
    width: 90%;
    height: 30px;
    width: 90%;
    height: 40px;
    margin-left: 4%;
    outline: 0;
    border: none;
}


.likes {
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
}

.likesComments { 
    display: flex;
    
}

.likesComments img{ 
    margin: 5px;
    
}

.counter{ 
    display: flex;
    margin:5px;
}